@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Karla", sans-serif;
  color: #323a45;
}

/* ===============GENERAL=============== */

h2 {
  font-size: 15px;
}

span {
    font-weight: 700;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #323a45;
}

/* ===============HEADER/NAV=============== */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
}

h1 {
  text-transform: uppercase;
  font-size: 20px;
  color: black;
}

ul {
  color: black;
  font-weight: 600;
  font-size: 15px;
  width: 25vw;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

img {
  max-width: 100%;
  /* max-height: 100%;
  object-fit: contain; */
}

/* ===============PRODUCTS SECTION=============== */

main {
  /* background-color: blueviolet; */
  padding: 0 5% 0 5%;
  /* gap:1%;   with gap 1% my footer was overlapping the body content, no idea why */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.bigimage {
  /* background-color: aqua; */
  grid-column: 1 / -1;
  width: 90%;
  margin: 0 auto;
}

main p {
  color: #848484;
  font-size: 15px;
}

main div div {
  display: flex;
  justify-content: space-between;
}

main div {
    background-color: #f7f7f7;
}

main div:hover img{
    opacity:0.5;
}

main div img {
    transition: all 0.5s;
}

/* ===============FOOTER=============== */



.mainfooter, .copyright {
    display:flex;
    margin-top: 5%;
}

.mainfooter {
    justify-content: space-around;
    font-size:15px;
}

.copyright {
    margin-left:5%;
}

.copyright p {
    padding: 0 1% 1% 0;
}

.mainfooter div {
    display:flex;
    flex-direction: column;
}

.designshop {
    width:20%;
}

.newsletter p:nth-of-type(2) {
   font-style: italic;
}

